<button data-stripe="donate">Like the site? Buy us a beer! $10</button>
</br></br>
<%= image_tag "small_logo.png", style: "height: 100px", alt: "Moto-Mad logo" %>

<h1>Listings page</h1>

<p style="color:blue"><%= link_to "Create a listing for your bike here!", new_listing_path %></p>

<% for listing in @listings %>
    <b><%= link_to "#{listing.title}", listing_path(listing.id) %></b>
    <%= listing.year %> 
    <%= listing.manufacturer.manufacturer %>
    <%= listing.model %> -
    <%= number_to_currency(listing.price) %>
    <br/><br/>    
<% end %>

<script src="https://js.stripe.com/v3/"></script>

<script>
  document
    .querySelector("[data-stripe='donate']")
    .addEventListener("click", () => {
      const stripe = Stripe(
        "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
      );

      stripe.redirectToCheckout({
        sessionId: "<%= @session_id %>"
      });
    });
</script>