<% lams = @lams %>
<% listing = @listing %>

<h1>New listing form</h1> 

<p>Please add the details of your bike in the form below. <br> All fields apart from an image are mandatory. </p>

<%= form_with model: @listing, local: true do |form|  %>

    <div>
        <%= form.label :listing_title %>
        <%= form.text_field :title %>
    </div>

    <div>
        <%= form.label :manufacturer %>
        <%= form.text_field :manufacturer %>
    </div>
    
    <div>
        <%= form.label :model %>
        <%= form.text_field :model %>
    </div>

    <div>
        <%= form.label :style %>
        <%= form.text_field :style %>
    </div>

    <div>
        <%= form.label :year %>
        <%= form.text_field :year %>
    </div>

    <div>
        <%= form.label :engine_cc %>
        <%= form.text_field :engine %>
    </div>

    <div>
        <%= form.label :price %>
        <%= form.text_field :price %>
    </div>

    <div>
        <%= form.label :location %>
        <%= form.text_field :location %>
    </div>

    LAMs approved?
    <% lams.each do |option| %>
        <div>
            <%= form.radio_button :lams, option %>
            <%= form.label "lams_#{option}".to_sym, option, value: listing.lams %>
        <div>
    <% end %>

    <div>
        <%= form.label :description %>
        <%= form.text_area :description %>
    </div>

    <div>
        <%= form.label :listing_picture %>
        <%= form.file_field :picture, accept: "image/png,image/jpeg,image/jpg,image/gif" %>
    </div>   

    </br>

    <div>
        <%= form.submit value: "Click to save listing" %>
    </div>


    </ul>
<% end %>