    <%= link_to "All Listings", listings_path%>

    <% if current_user.id == @listing.user.id %>
    <%= link_to  "Edit your listing", edit_listing_path(@listing.id) %>

    </br></br>

    <%= form_with model: @listing, local: true, method: "delete" do |form| %>
        <%= submit_tag "Delete this listing" %>
        <% end %>

    <h1>    <%= @listing.title %> </h1> 

        <% if @listing.picture.attached? %>
            <%= image_tag @listing.picture, style: "width: 350px"%>
        <% end %>
    <% end %>

    <h2><%= @listing.year %>
    <%= @listing.manufacturer %>
    <%= @listing.model %></h2>

    <h4>Asking price: <%= number_to_currency(@listing.price) %> </h4>

    <p>Bike style: <%= @listing.style %> </p>
    <p>Mileage: <%= @listing.mileage %> </p>
    <p>Engine size: <%= @listing.engine %>cc </p>
    <p>Seller's location: <%= @listing.location %> </p>
    <p>LAM's legal? <%= @listing.lams %> </p>
    <p>Seller's email: <%= @listing.user.email %> </p>
    <p>Description: <%= @listing.description %> </p>

    