<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Freelancer - Start Bootstrap Theme</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">

        <!-- Portfolio Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">About this project</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Grid Items-->
                <div class="row">
                    <div class="col-lg-12 mr-auto"><h4>Purpose of this page</h4></div>

                    <div class="col-lg-12 ml-auto"><p class="lead">The brief for the project was to complete a two way market place, in which any given user could act as both a buyer or a seller. Second hand motorcyles were chosen partly because of personal interest, but also because the characteristics of bikes lend themselves to being easily classified by the categories seen in the drop down menus that could be used to filter or sort listings. </p></div>
                    <div class="col-lg-12 mr-auto"><p class="lead">The purpose of this page is not to repeat the technical aspects of the documentation which are set out on GitHub (refer link in footer below). Rather, it is to act as a one stop shop to showcase the functionality of the site without forcing a user to faff around creating an account and waiting on slow servers. </p></div>

                    <div class="col-lg-12 mr-auto"><h4>Create an account</h4></div>

                    <div class="col-lg-12 mr-auto"><p class="lead">To create or view listings, a user must create an account. Clicking on the links to either of these pages links directly to the login page.</p></div>

                    <div class="col-lg-12 mr-auto"><p style="text-align:center"><%= image_tag "1.png", alt: "Moto-Mad logo" %></p></div>
                 
                    <div class="col-lg-12 mr-auto"><p class="lead">After logging in the user is directed to the main listings page:</p></div>

                    <div class="col-lg-12 mr-auto"><p style="text-align:center"><%= image_tag "2.png", alt: "Moto-Mad logo" %></p></div>

                    <div class="col-lg-12 mr-auto"><h4>Create a Listing</h4></div>

                    <div class="col-lg-12 mr-auto"><p class="lead">To create a listing, all the fields in the form below must be completed. A picture is optional.</p></div>

                    <div class="col-lg-12 mr-auto"><p style="text-align:center"><%= image_tag "3.png", alt: "Moto-Mad logo" %></p></div>

                    <div class="col-lg-12 mr-auto"><p class="lead">Upon clicking the "create listing" button, the user is returned to the newly created page for that listing:</p></div>

                    <div class="col-lg-12 mr-auto"><p style="text-align:center"><%= image_tag "4.png", alt: "Moto-Mad logo" %></p></div>

                    <div class="col-lg-12 mr-auto"><h4>Edit a Listing</h4></div>

                    <div class="col-lg-12 mr-auto"><p class="lead">Clicking on the link to edit the listing returns the user to the original page on which the listing was created, pre-populated with the existing details. The update action behaves in the same way as the create action, returning the user to the updated page for that listing. </p></div>

                    <div class="col-lg-12 mr-auto"><h4>Creating and responding to a question</h4></div>

                    <div class="col-lg-12 mr-auto"><p class="lead">The field to create a question is only visible to users who did not create the listing, so they can post an offer or a question. The seller is the only one who can respond to questions, and in addition can see the email of the user who asked the question. Note the difference between the page as viewed by different profiles:</p></div>

                    <div class="col-lg-12 mr-auto"><p style="text-align:center"><%= image_tag "5a.png", alt: "Moto-Mad logo" %></p></div>
                    <div class="col-lg-12 mr-auto"><p style="text-align:center"><%= image_tag "5b.png", alt: "Moto-Mad logo" %></p></div>

                    <div class="col-lg-12 mr-auto"><h4>Delete a listing</h4></div>

                    <div class="col-lg-12 mr-auto"><p class="lead">Clicking on the delete listing icon will delete all data associated with the listing and return the user to the "All Listings" page. </p></div>

                    <div class="col-lg-12 mr-auto"><h4>Making a Donation</h4></div>

                    <div class="col-lg-12 mr-auto"><p class="lead">The "Buy us a beer" icon redirects the user to the Stripe web site. They are returned to a "thank you" page upon completion of the transaction. </p></div>

                    <div class="col-lg-12 mr-auto"><p style="text-align:center"><%= image_tag "6a.png", alt: "Moto-Mad logo" %></p></div>

                    <div class="col-lg-12 mr-auto"><p style="text-align:center"><%= image_tag "6b.png", alt: "Moto-Mad logo" %></p></div>


                </div>
            </div>
        </section>
</html>
