<!DOCTYPE html>
<html>
  <head>
    <title>MotoMad</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <% if user_signed_in? %>
              <%= link_to "Logout", destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to "Login/Signup", new_user_session_path %>
            <% end %>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"><%= link_to "Project Information", info_path %></li>            
                    <li class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"><%= link_to "All Listings", listings_path%></li>
                    <li class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"><%= link_to "Create a listing", new_listing_path %></li>
                </ul>
                <%= image_tag "small_logo.png", style: "width: 170px", alt: "Moto-Mad logo" %>
            </div>
        </div>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <!-- Footer-->
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
              <!-- Footer About Text-->
              <div class="col-lg-12">
                  <h4 class="text-uppercase mb-4">About this project</h4>
                  <p class="lead mb-0">This site was built as a coding bootcamp project. A full account of the technology used can be found on <a href="https://github.com/olivervmason/moto-mad">Github</a>.</p>
              </div>
            </div>
        </div>
    </footer>
  </body>
</html>
